<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="secretAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <connectionStrings>
      <add name="HandleManagerConnectionString" connectionString="Data Source=LIBGRTOBADZIST;Initial Catalog=HandleManager;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <appSettings file="folder.app.config" >
      <add key="IdMapFile" value="idmap.csv"/>
      <add key="HandleMapFile" value="handlemap.csv"/>

      <!-- Identifiers will look like this: HandlePrefix/HandleProject:GUID+CheckDigit.LocalID -->
      <add key="Handle.Prefix" value="10111"/><!-- This is the registered UIUC handle prefix-->
      <add key="Handle.Project" value="MEDUSA"/>
      <add key="Handle.LocalIdSeparator" value="."/>
      
      <add key="Handle.ServiceURL" value="http://media.library.uiuc.edu:8080/handle-admin"/>
      <add key="Handle.ResourceType" value="handle"/>
      <add key="Handle.ResolverBaseURL" value="http://hdl.handle.net"/><!-- don't include trailing slash / -->

      <add key="Handle.Generation" value="ROOT_OBJECT_ONLY"/><!-- ROOT_OBJECT_ONLY, FILES_ONLY, ROOT_OBJECT_AND_FILES, NONE -->

      <add key="GetCollectionModsUrl" value="https://medusa.library.illinois.edu/collections/{0}.xml"/><!-- replace 0 param with Collection ID from Registry-->

      <add key="GetMarcUrl" value="http://dli.grainger.uiuc.edu/GetMARC/one.aspx/{0}.opac"/><!-- replace 0 param with call number -->

      <add key="ChecksumAlgorithm" value="NONE"/> <!--"SHA1" or "MD5" Set this to "NONE" to not generate checksum and also speed up processing-->

      <add key="PremisDisseminationRightsBasis" value="COPYRIGHT"/>   <!-- the maps are old enough to be in public domain -->
      <add key="PremisDisseminationCopyrightStatus" value="PUBLIC_DOMAIN"/>
      <add key="PremisDisseminationRights" value="DISSEMINATE"/>    <!-- if blank the repo has no right to disseminate -->
      <add key="PremisDisseminationRightsRestrictions" value=""/>   <!-- CAMPUS_ONLY, LIBRARY_ONLY, leave blank for no restrictions -->

      <add key="IgnoreBadCert" value="TRUE"/>

      <add key="SaveFilesAs" value="medusa"/> <!-- Specific how the PREMIS is partitioned and saved: "one" "multiple" "representations" "medusa"-->

      <add key="DoFits" value="FALSE"/><!-- Set this to "FALSE" to not use Fits and also speed up processing -->
      <add key="FitsHome" value="C:\fits-0.6.1\"/>
      <add key="FitsScript" value="fits.bat"/>

      <add key="OverwriteObjects" value="TRUE"/>
      
    </appSettings>

  <secretAppSettings configSource="secret.config"/>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>

    <trace   autoflush="false" indentsize="4">
      <listeners>
        <add name="fileLogger"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="LogFile.log"  />
        <remove name="Default" />
      </listeners>
    </trace>

  </system.diagnostics>

  <system.net>
    <connectionManagement >
      <add address="*" maxconnection="10"/>
    </connectionManagement>

    <mailSettings>
      <smtp>
        <network host="express-smtp.cites.uiuc.edu" port="25" />
      </smtp>
    </mailSettings>
  </system.net>


</configuration>
