<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="PreservationLevel" value="FULL_DSD_BOOK"/> <!-- FULL_DSD_BOOK, FILE_SYSTEM_FOLDER, ... (as defined) NOTE: This value will affect the processing done during packaging -->
  <add key="PreservationLevelRationale" value="https://wiki.cites.uiuc.edu/wiki/display/LibraryDigitalPreservation/Full+DSD+Book"/> <!-- Usually a URL pointing to documentation about the level-->

  <add key="WorkingFolder" value="\\libgrsurya\medusa_staging\preservationSIPs\127\"/>
  <add key="WorkingUrl" value="http://surya.grainger.illinois.edu/medusasips/127/"/>
  <!-- were data is saved -->
  <add key="SourceFolder" value="\\libgrsurya\medusa_staging\preservationStaging\127\"/>
  <!-- were data comes from -->

  <add key="RestartAtPath" value=""/>
  <!-- processing will restart at the first path that matches this regular expression; the path must be at the ObjectFolderLevel or above -->

  <add key="CollectionId" value="127"/>
  <!-- Use the CollectionId to fetch MODS record from medusa collection registry -->

  <!-- If the CollectionId is not used the following values will be used instead -->
  <add key="CollectionHandle" value=""/>
  <add key="CollectionName" value="Friendscript"/>
  <add key="CollectionURL" value=""/>
  <add key="CollectionDescriptionPath" value=""/>


  <add key="ObjectFolderLevel" value="4"/> <!-- 127\130\Friendscript\v00001i00001 -->
  <!-- 1 = root folder represents one object; 2 = each child folder in the root represents an object; 3 ... -->

  <add key="PremisDisseminationRights" value="DISSEMINATE"/>
  <!-- if blank the repo has no right to disseminate -->

  <add key="PremisDisseminationRightsBasis" value="COPYRIGHT"/> <!-- COPYRIGHT, LICENSE, STATUTE, OTHER -->
  
  <!-- these are government-produced documents -->
  <add key="PremisDisseminationStatuteCitation" value=""/>
  <add key="PremisDisseminationStatuteJurisdiction" value=""/>

  <add key="PremisDisseminationOtherRightsBasis" value=""/>

  <add key="PremisDisseminationCopyrightStatus" value="IN_COPYRIGHT"/>
  <add key="PremisDisseminationCopyrightJurisdiction" value="United States"/> <!-- http://www.loc.gov/marc/countries/countries_name.html -->
  <add key="PremisDisseminationCopyrightNote" value="University of Illinois at Urbana-Champaign holds the copyright on this publication."/>

  <add key="PremisDisseminationRightsRestrictions" value=""/>
  <!-- CAMPUS_ONLY, LIBRARY_ONLY, leave blank for no restrictions -->

  <add key="MetadataMarcRegex" value="_marc\.xml$"/>
  <!-- regular expression pattern used to identify MARC metadata file-->
  <add key="MetadataDcRdfRegex" value="_dc_rdf\.xml$"/>
  <!-- regular expression pattern used to identify DC RDF metadata file-->

  <!-- can do either marc or dcrdf tranformation but not both-->
  <add key="MarcToModsXslt" value="MARC21slim2MODS3-4.xsl"/>
  <!-- Leave blank for no transformation-->
  <add key="DcRdfToModsXslt" value=""/>
  <!-- Leave blank for no transformation-->
  
  <!-- identify different classes of file -->
  <add key="ImageTechnicalMetadataRegex" value="_sdt\.txt$"/>
  <add key="Md5ManifestRegex" value="\.fil$"/>
  
  <add key="OcrTextRegex" value="_ocr\.txt$"/>
  <add key="HighQualityPdfRegex" value="(?&lt;!_opt)\.pdf$"/>
  <add key="OptimizedPdfRegex" value="_opt\.pdf$"/>
  <add key="TeiXmlRegex" value="_tei\.xml$"/>

  <add key="OmitFoldersRegex" value=""/>
  <!-- regular expression pattern used to identify folders to be omitted from processing separate multiples with |-->

  <add key="OmitFilesRegex" value=""/>
  <!-- regular expression pattern used to identify files to be omitted from processing separate multiples with |-->

  <add key="DerivativeContentFileRegex" value="\\jpg\\"/>
  <!-- regular expression used to determine whether file path points to derived content; depending on the PreservationLevel this could translate into Screen Size, or other derivative relationship type-->
  <add key="OriginalContentFileRegex" value="\\jp2\\"/>
  <!-- regular expression used to determine whether file path points to original content; depending on the PreservationLevel this could translate into Archival or Production Master or other original relationship type-->

  <add key="PageFoldersRegex" value="\\jpg(\\|$)|\\jp2(\\|$)"/>
  <!-- regular expression used to identify the folder containing the page images for the FULL_DSD_BOOK preservation level-->

  <add key="SignificantFileIdentiferRegex" value=""/>
  <!-- regular expression applied to file path where the captured string signifies the unique signficant identifier for this object-->


</appSettings>
