<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="WorkingFolder" value="\\libgrsurya\medusa_staging\UnicaPackageTest\"/><!-- were data is saved -->
  <add key="SourceFolder" value="\\libgrsurya\medusa_staging\Unica\eisema0001orasum\"/><!-- were data comes from -->

  <add key="CollectionId" value="71"/> 
  <!-- Use the CollectionId to fetch MODS record from medusa collection registry -->
  
  <!-- If the CollectionId is not used the following values will be used instead -->
  <add key="CollectionHandle" value="MEDUSA:81346b10-e3fb-012f-c5b6-0019b9e633c5-8"/>
  <add key="CollectionName" value="Project Unica"/>
  <add key="CollectionURL" value="http://illinoisharvest.grainger.illinois.edu/results.asp?searchtype=collectioncontent&amp;newsearch=1&amp;collID=2797&amp;collname=Project%20Unica"/>
  <add key="CollectionDescriptionPath" value="\\libgrsurya\Medusa_Staging\Unica\Unica.txt"/>
  

  <add key="ObjectFolderLevel" value="1"/><!-- 1 = root folder represents one object; 2 = each child folder in the root represents an object; 3 ... -->

</appSettings>
 