<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="WorkingFolder" value="\\libgrsurya\medusa_staging\UnicaPackageTest\"/> <!-- were data is saved -->
  <add key="SourceFolder" value="\\libgrsurya\medusa_staging\Unica\"/><!-- were data comes from -->

  <add key="CollectionId" value="71"/> 
  <!-- Use the CollectionId to fetch MODS record from medusa collection registry -->
  
  <!-- If the CollectionId is not used the following values will be used instead -->
  <add key="CollectionHandle" value="MEDUSA:81346b10-e3fb-012f-c5b6-0019b9e633c5-8"/>
  <add key="CollectionName" value="Project Unica"/>
  <add key="CollectionURL" value="http://illinoisharvest.grainger.illinois.edu/results.asp?searchtype=collectioncontent&amp;newsearch=1&amp;collID=2797&amp;collname=Project%20Unica"/>
  <add key="CollectionDescriptionPath" value="\\libgrsurya\Medusa_Staging\Unica\Unica.txt"/>
  

  <add key="ObjectFolderLevel" value="2"/><!-- 1 = root folder represents one object; 2 = each child folder in the root represents an object; 3 ... -->

  <add key="PremisDisseminationRightsBasis" value="COPYRIGHT"/>
  <!-- the maps are old enough to be in public domain -->
  <add key="PremisDisseminationCopyrightStatus" value="PUBLIC_DOMAIN"/>
  <add key="PremisDisseminationRights" value="DISSEMINATE"/>
  <!-- if blank the repo has no right to disseminate -->
  <add key="PremisDisseminationRightsRestrictions" value=""/>
  <!-- CAMPUS_ONLY, LIBRARY_ONLY, leave blank for no restrictions -->

  <add key="MetadataMarcRegex" value="_marc\.xml$"/><!-- regular expression pattern used to identify MARC metadata file-->
  <add key="MetadataDcRdfRegex" value="_dc_rdf\.xml$|_rdf_dc\.xml$"/><!-- regular expression pattern used to identify DC RDF metadata file-->

  <!-- can do either marc or dcrdf tranformation but not both-->
  <add key="MarcToModsXslt" value="MARC21slim2MODS3-4.xsl"/>  <!-- Leave blank for no transformation-->
  <add key="DcRdfToModsXslt" value=""/> <!-- Leave blank for no transformation-->

  <add key="OmitFoldersRegex" value="xxx\\aesfab0001aesop$"/><!-- regular expression pattern used to identify folders to be omitted from processing separate multiples with |-->

  <add key="OmitFilesRegex" value="\.asp$|\.bat$"/>
  <!-- regular expression pattern used to identify files to be omitted from processing separate multiples with | -->

  <add key="DerivativeContentFileRegex" value="\\derived[^\\]*content\\|\\[^\\]*\(processed\)\\|\\[^\\]*_access\\"/>
  <!-- regular expression used to determine whether file path points to derived content, used for preservation level -->
  <add key="OriginalContentFileRegex" value="\\master[^\\]*content\\|\\[^\\]*\(original\)\\|\\preservation_master\\"/>
  <!-- regular expression used to determine whether file path points to original content, used for preservation level -->

  <add key="SignificantFileIdentiferRegex" value=""/>
  <!-- regular expression applied to file path where the captured string signifies the unique signficant identyifier for this object-->

</appSettings>
 