<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="PreservationLevel" value="PreservationLevel"/>
  <add key="PreservationLevelRationale" value="PreservationLevelRationale"/>

  <add key="WorkingFolder" value="WorkingFolder"/>
  <!-- were data is saved -->
  <add key="SourceFolder" value="SourceFolder"/>
  <!-- were data comes from -->

  <add key="RestartAtPath" value="RestartAtPath"/>
  <!-- processing will restart at the first path that matches this regular expression; the path must be at the ObjectFolderLevel or above -->

  <add key="CollectionId" value="CollectionId"/>
  <!-- Use the CollectionId to fetch MODS record from medusa collection registry -->

  <!-- If the CollectionId is not used the following values will be used instead -->
  <add key="CollectionHandle" value="CollectionHandle"/>
  <add key="CollectionName" value="CollectionName"/>
  <add key="CollectionURL" value="CollectionURL"/>
  <add key="CollectionDescriptionPath" value="CollectionDescriptionPath"/>


  <add key="ObjectFolderLevel" value="1"/> <!-- 140\147\Illinois_Legislative\v01985i00001 -->
  <!-- 1 = root folder represents one object; 2 = each child folder in the root represents an object; 3 ... -->

  <add key="PremisDisseminationRights" value="PremisDisseminationRights"/>
  <!-- if blank the repo has no right to disseminate -->

  <add key="PremisDisseminationRightsBasis" value="OTHER"/> <!-- COPYRIGHT, LICENSE, STATUTE, OTHER -->

  <add key="PremisDisseminationOtherRightsBasis" value="PremisDisseminationOtherRightsBasis"/>

  <!-- these are government-produced documents -->
  <add key="PremisDisseminationStatuteCitation" value="PremisDisseminationStatuteCitation"/>
  <add key="PremisDisseminationStatuteJurisdiction" value="Illinois"/>
  
  <add key="PremisDisseminationCopyrightStatus" value="PremisDisseminationCopyrightStatus"/>
  <add key="PremisDisseminationCopyrightJurisdiction" value="United States"/> <!-- http://www.loc.gov/marc/countries/countries_name.html -->
  <add key="PremisDisseminationCopyrightNote" value="PremisDisseminationCopyrightNote"/>

  <add key="PremisDisseminationRightsRestrictions" value="PremisDisseminationRightsRestrictions"/>
  <!-- CAMPUS_ONLY, LIBRARY_ONLY, leave blank for no restrictions -->

  <add key="MetadataMarcRegex" value="MetadataMarcRegex"/>
  <!-- regular expression pattern used to identify MARC metadata file-->
  <add key="MetadataDcRdfRegex" value="MetadataDcRdfRegex"/>
  <!-- regular expression pattern used to identify DC RDF metadata file-->
  <add key="MetadataSpreadsheetRegex" value="MetadataSpreadsheetRegex"/>
  <!-- regular expression pattern used to identify an Excel Spreadsheet file containing metadata for the object-->

  <!-- can do either marc or dcrdf tranformation but not both-->
  <add key="MarcToModsXslt" value="MarcToModsXslt"/>
  <!-- Leave blank for no transformation-->
  <add key="DcRdfToModsXslt" value="DcRdfToModsXslt"/>
  <!-- Leave blank for no transformation-->
  <add key="ModsToDcXslt" value="ModsToDcXslt"/>
  <!-- Leave blank for no transformation-->

  <!-- identify different classes of file -->
  <add key="ImageTechnicalMetadataRegex" value="ImageTechnicalMetadataRegex"/>
  <add key="Md5ManifestRegex" value="Md5ManifestRegex"/>
  
  <add key="OcrTextRegex" value="OcrTextRegex"/>
  <add key="HighQualityPdfRegex" value="HighQualityPdfRegex"/>
  <add key="OptimizedPdfRegex" value="OptimizedPdfRegex"/>
  <add key="TeiXmlRegex" value="TeiXmlRegex"/>

  <add key="OmitFoldersRegex" value="OmitFoldersRegex"/>
  <!-- regular expression pattern used to identify folders to be omitted from processing separate multiples with |-->

  <add key="OmitFilesRegex" value="OmitFilesRegex"/>
  <!-- regular expression pattern used to identify files to be omitted from processing separate multiples with |-->

  <add key="DerivativeContentFileRegex" value="DerivativeContentFileRegex"/>
  <!-- regular expression used to determine whether file path points to derived content-->
  <add key="OriginalContentFileRegex" value="OriginalContentFileRegex"/>
  <!-- regular expression used to determine whether file path points to original content-->

  <add key="PageFoldersRegex" value="PageFoldersRegex"/>
  <!-- regular expression used to identify the folder containing the page images -->

  <add key="SignificantFileIdentiferRegex" value="SignificantFileIdentiferRegex"/>
  <!-- regular expression applied to file path where the captured string signifies the unique signficant identifier for this object-->

</appSettings>
