<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="secretAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <connectionStrings>
    <add name="HandleManagerConnectionString"
         connectionString="Data Source=LIBGRTOBADZIST;Initial Catalog=Medusa_dev;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

    <add name="Uiuc.Library.IdManagement.My.MySettings.Medusa_devConnectionString"
      connectionString="Data Source=libgrtobadzist;Initial Catalog=Medusa_dev;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>

  <appSettings file="folder_050.app.config">
    <add key="IdMapFile" value="idmap.csv"/>
    <add key="HandleMapFile" value="handlemap.csv"/>

    <!-- Identifiers will look like this: HandlePrefix/HandleProject:GUID+CheckDigit.LocalID -->
    <add key="HandlePrefix" value="10111"/>
    <!-- This is the registered UIUC handle prefix-->
    <add key="HandleProject" value="MEDUSA"/>
    <add key="HandleLocalIdSeparator" value="."/>

    <add key="HandleServiceURL" value="http://media.library.uiuc.edu:8080/handle-admin"/>
    <add key="HandleResourceType" value="handle"/>
    <add key="HandleResolverBaseURL" value="http://hdl.handle.net"/>
    <!-- don't include trailing slash / -->

    <add key="HandleGeneration" value="ROOT_OBJECT_ONLY"/>
    <!-- ROOT_OBJECT_ONLY, FILES_ONLY, ROOT_OBJECT_AND_FILES, NONE -->

    <add key="GetCollectionModsUrl" value="https://medusa.library.illinois.edu/collections/{0}.xml"/>
    <!-- replace 0 param with Collection ID from Registry-->

    <add key="GetMarcUrl" value="http://dli.grainger.uiuc.edu/GetMARC/one.aspx/{0}.opac"/>
    <!-- replace 0 param with call number -->

    <add key="IgnoreBadCert" value="TRUE"/>

    <add key="SaveFilesAs" value="medusa"/>
    <!-- Specific how the PREMIS is partitioned and saved: "one" "multiple" "representations" "medusa"-->

    <add key="ChecksumAlgorithm" value="SHA1"/>
    <!--"SHA1" or "MD5" Set this to "NONE" to not generate checksum and also speed up processing-->

    <add key="DoFits" value="TRUE"/>
    <!-- Set this to "FALSE" to not use Fits and also speed up processing -->
    <add key="FitsHome" value="C:\fits-0.6.1\"/>
    <add key="FitsScript" value="fits.bat"/>

    <add key="OverwriteObjects" value="FALSE"/>

    <add key="PackageMode" value="HARDLINK"/>
    <!-- MOVE or COPY or HARDLINK -->

  </appSettings>

  <secretAppSettings configSource="secret.config"/>

  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>

    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="fileLogger" type="System.Diagnostics.TextWriterTraceListener" initializeData="LogFile.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>

  </system.diagnostics>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10"/>
    </connectionManagement>

    <mailSettings>
      <smtp>
        <network host="express-smtp.cites.uiuc.edu" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
