<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="WorkingFolder" value="\\libgrsurya\medusa_staging\preservationSIPs\50\"/>
  <!-- were data is saved -->
  <add key="SourceFolder" value="\\libgrsurya\medusa_staging\preservationStaging\50\"/>
  <!-- were data comes from -->

  <add key="CollectionId" value="50"/>
  <!-- Use the CollectionId to fetch MODS record from medusa collection registry -->

  <!-- If the CollectionId is not used the following values will be used instead -->
  <add key="CollectionHandle" value="MEDUSA:81346b10-e3fb-012f-c5b6-0019b9e633c5-8"/>
  <add key="CollectionName" value="Carl Sandburg Collection"/>
  <add key="CollectionURL" value="http://images.library.illinois.edu/projects/sandburg/"/>
  <add key="CollectionDescriptionPath" value=""/>


  <add key="ObjectFolderLevel" value="3"/>
  <!-- 1 = root folder represents one object; 2 = each child folder in the root represents an object; 3 ... -->

  <!-- Some of access may be controlled by license agreements with sandburg estate -->
  <add key="PremisDisseminationRightsBasis" value="COPYRIGHT"/>
  <add key="PremisDisseminationCopyrightStatus" value="IN_COPYRIGHT"/>
  <add key="PremisDisseminationRights" value="DISSEMINATE"/>
  <!-- if blank the repo has no right to disseminate -->
  <add key="PremisDisseminationRightsRestrictions" value="CAMPUS_ONLY"/>
  <!-- CAMPUS_ONLY, LIBRARY_ONLY, leave blank for no restrictions -->

  <add key="MetadataMarcRegex" value="_marc\.xml$"/>
  <!-- regular expression pattern used to identify MARC metadata file-->
  <add key="MetadataDcRdfRegex" value="_dc_rdf\.xml$"/>
  <!-- regular expression pattern used to identify DC RDF metadata file-->

  <!-- can do either marc or dcrdf tranformation but not both-->
  <add key="MarcToModsXslt" value="MARC21slim2MODS3-4.xsl"/>
  <!-- Leave blank for no transformation-->
  <add key="DcRdfToModsXslt" value=""/>
  <!-- Leave blank for no transformation-->

  <add key="OmitFoldersRegex" value=""/>
  <!-- regular expression pattern used to identify folders to be omitted from processing separate multiples with |-->

  <add key="OmitFilesRegex" value="\.DS_Store$"/>
  <!-- regular expression pattern used to identify files to be omitted from processing separate multiples with |-->

  <add key="DerivativeContentFileRegex" value="\\Sandburg Service High\\|\\\Sandburg Service Low\"/>
  <!-- regular expression used to determine whether file path points to derived content-->
  <add key="OriginalContentFileRegex" value=""/>
  <!-- regular expression used to determine whether file path points to original content-->

  <add key="SignificantFileIdentiferRegex" value="^\\\\libgrsurya\\MEDUSA_STAGING\\preservationStaging\\50\\[^\\]+\\([^\\]+)"/>
  <!-- regular expression applied to file path where the captured string signifies the unique signficant identifier for this object-->

</appSettings>
